@var--main-background: #eaeaea;
@var--main-panel-background: #4caf50;
@var--second-panel-background:#dedede;

@var--ui-color-main: #4caf50;
@var--ui-color-second: #565656;

@var--main-padding-fields-s: 10px;
@var--main-padding-fields-m: 40px;
@var--main-padding-fields-l: 100px;