@var--main-background: #eaeaea;
@var--main-panel-background: #4caf50;
@var--second-panel-background:#dedede;

@var--ui-color-main: #4caf50;
@var--ui-color-second: #565656;

@var--main-padding-fields-s: 10px;
@var--main-padding-fields-m: 40px;
@var--main-padding-fields-l: 100px;


@var--color-ui-primary: #FF8A24;
@var--color-ui-primary--active: darken(@var--color-ui-primary, 5%);
@var--color-ui-secondary: #868e96;
@var--color-ui-secondary--active: darken(@var--color-ui-secondary, 5%);
@var--color-ui-disable: #909090;
@var--color-ui-static: #D1D1D1;
@var--color-ui-success: #AFD777;
@var--color-ui-danger: #F69EA2;
@var--color-ui-warning: #f6da54;
@var--color-ui-info: #4A90E2;
@var--color-ui-light: @var--color-ui-static;
@var--color-ui-dark: #343434;

@var--color-ui-buttons: primary @var--ui-color-main white,
secondary @var--color-ui-secondary white,
success @var--color-ui-success white,
danger @var--color-ui-danger white,
warning @var--color-ui-warning white,
info @var--color-ui-info white,
light @var--color-ui-light black,
dark @var--color-ui-dark white;