.c--input {
    min-width: 250px;
    border: 1px solid darken(@var--color-ui-secondary, 10%);
    border-radius: @var--ui-border-radius;
    background-color: white;
    .flex(row, flex-start, center);

    > input, > input:focus {
        flex: 1 1 auto;
        color: @var--first-font-color;
        height: 40px;
        line-height: 20px;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: @var--ui-border-radius;
        background-color: white;
        outline: none;
        width: 100%;
    }

    > .buttons {
        padding-right: 20px;
        .flex();
        background: transparent;
        border: none;
        font-size: 18px;

        > *:not(:first-child) {
            margin-left: 10px;

        }

        > *, > *:hover, > *:active, > *:link, > *:visited {
            cursor: pointer;
            color: @var--first-font-color;
            text-decoration: none;
        }
    }

    &.lg {
        > input, > input:focus {
            height: 60px;
            line-height: 20px;
            padding: 20px 30px;
        }

        > .buttons {
            padding-right: 30px;
            font-size: 24px;
        }
    }

    &.negative {
        background-color: @var--color-ui-secondary;

        > input, > input:focus {
            background-color: @var--color-ui-secondary;
        }

        > .buttons {
            > *, > *:hover, > *:active, > *:link, > *:visited {
                color: darken(@var--color-ui-secondary, 30%);
                text-decoration: none;
            }
        }
    }
}

