.s--page {
    .flex(column, flex-start, stretch);
    background-color: transparent;
    margin-bottom: 40px;
    > h3 {
        .flex();
        font-size: 26px;
        line-height: 26px;
    }
    > div {
        .flex();
    }
}